.nav-bar {
  list-style: none;
  border-bottom: 10px dashed var(--soil);
  padding: 0 0 10px;
  width: auto;
  font-size: 25px;
}

.nav-link {
  text-decoration: none;
  margin: 1rem;
  font-family: "archisticobold";
  color: var(--olive);
}

a:hover {
  color: var(--avocado);
}
