:root {
  --olive: #616543;
  --russet: #ac6d45;
  --soil: #44372f;
  --cacao: #25211a;
  --light: #bebf9f;
  --light-secondary: #e6cbad;
}

/* Archistico Bold font */
@font-face {
  font-family: "archisticobold";
  src: url("fonts/Archistico_Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Archistico normal font */
@font-face {
  font-family: "archisticonormal";
  src: url("fonts/Archistico_Simple-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* OpenSans Italic font */
@font-face {
  font-family: "open_sansitalic";
  src: url("fonts/OpenSans-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* OpenSans light font */
@font-face {
  font-family: "open_sansitalic";
  src: url("fonts/OpenSans-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login and Sign Up */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container h1 {
  display: flex;
  justify-content: center;
}

.flex-container label {
  padding: 20px 0 0;
}
/* Login and Sign Up End */ ;
