.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  background: linear-gradient(
    to left,
    var(--avocado),
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
}

.header-logo {
  height: 96px;
  width: auto;
}

@media screen and (max-width: 980px) {
  .header-logo img {
    height: 95px;
    width: auto;
  }

  .logo {
    height: 35vh;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .header-logo img {
    height: 75px;
  }

  .logo {
    height: 25vh;
  }

  .header-container {
    padding-bottom: 10px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .header-logo img {
    height: 65px;
  }

  .logo {
    height: 15vh;
  }

  .header-container {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 450px) {
  .header-logo img {
    height: 55px;
  }

  .logo {
    height: 5vh;
  }

  .header-container {
    padding-bottom: 2.5px;
  }
}
